<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "/xsd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.wu.sbdemo.jpamybatis.po.User" alias="user"/>
	</typeAliases>
	
</configuration>
