<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/xsd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.sbdemo.jpamybatis.dao.UserMapper">

    <sql id="column">
        id,username,password
    </sql>

    <sql id="columnWithoutId">
        username,password
    </sql>

    <insert id="save" parameterType="user">
        insert into user_test(<include refid="column"/>)values(#{id},#{username},#{password})
    </insert>

</mapper>
